/*
 * main.css v0.3.0
 * Update: 2019.09.20
 * Author: DongWook.Synn
 */






 
 
 /* main menu */


.full-bg{
  background:url(./images/1.jpg) no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  height: 100vh;
  width: 100%;
  display: table;/*title 위치를 위한 display 설정*/
  
}

.container{
  display:table-cell;
  text-align: center;
  vertical-align: middle;
}

.header-title{
  display: inline-block;
  width: 50%;
  height: 140px;
  font-size: 35px;
  font-weight: bold;
  padding-top: 25px;
  background: rgba(11,0,73,.8);
  color:#fff;
 

}

.header-sub-title{
  font-size: 20px;
  color:rgb(#fff);
}

 ul {
  background: rgb(49, 49, 49);
  height: 30px;
  list-style: none;
  margin: 0px;
  padding: 15px 10px 8px;
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  right:0;

}
ul li {
  float: left;
  margin-right: 0px;
 
}					
ul li a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none
}

/* Home Title */
.home-title {
  color: rgb(159, 185, 255);
  font-size: 20px;
  font-weight: bold;
  margin-right: 0px;
  
}

/* article background */


.article-bg {
  background-color: rgb(104, 104, 175);
  color: rgb(255, 255, 255);
  text-align: center;
  height: 300px;
  padding: 15px;
  margin-right: 0px;
  
}



.article-2bg {
  background-color: rgb(164, 104, 175);
  color: rgb(52, 76, 153);
  text-align: center;
  height: 300px;
  padding: 15px;
}

.article-2bg img{
  width: 150px;
  height: 150px;

}

.article-3rd-bg{
  background-color: rgb(104, 104, 175);
  color: rgb(255, 255, 255);
  text-align: center;
  height: 300px;
  padding: 15px;
}
.article-4{
  background-color: rgb(141, 129, 143);
  color: rgb(52, 76, 153);
  text-align: center;
  height: 400px;
  padding: 15px;

}

.article-5{
  background-color: rgb(207, 0, 243);
  color: rgb(255, 255, 255);
  text-align: center;
  
  height: 400px;
  padding: 15px;
  margin: 30px;
  

}

.article-6{
  background-color: rgb(141, 129, 143);
  color: rgb(52, 76, 153);
  text-align: center;
  height: 400px;
  padding: 15px;

}

.b{
  border-collapse: collapse;
}

.b th, .b td{border:1px solid black;}




.as{
  background-color: rgb(27, 103, 218);
  color: rgb(255, 255, 255);
  text-align: center;

}

.asd{
  background-color: rgb(104, 104, 175);
  color: rgb(255, 255, 255);
  text-align: center;

}

/* margin, padding, border test */
.box-test {
  background-color: brown;
  display: inline-block;
  border: 10px solid black;
  margin: 10px;
  padding: 10px;
  width: 20%;
  height: 50%;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  background-color: blueviolet;
  padding: 10px;
}



.grid-item {
  color: brown;
  background-color: white;
  text-align: center;
  padding: 20px;
  font-size: 30px;
}


.item1 {
  grid-column: 1 / span 3;
  grid-row: 1;
}

.item2 {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.item3 {
  grid-column: 3;
  grid-row: 2 / span 2;
  padding-top: 60px;
}

.item4 {
  grid-column: 2 / span 2;
}


.aside {
font-size: 40px;
font-family: 'Nanum Pen Script', cursive;
border: coral 5px solid;
height: 250px;



}


